<IfModule mod_rewrite.c>
 
RewriteEngine on

RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [L]

RewriteRule ^homepage index.php?page=homepage [L]
RewriteRule ^alat-(.*)$ index.php?xlink=view_data/data_alat.php&page=alat&act=$1 [L]
RewriteRule ^lokasi index.php?xlink=view_data/lokasi.php&page=lokasi [L]
RewriteRule ^gangguan index.php?xlink=view_data/gangguan.php&page=gangguan [L]
RewriteRule ^penanganan index.php?xlink=view_data/penanganan.php&page=penanganan [L]
RewriteRule ^kategori index.php?xlink=view_data/kategori.php&page=kategori [L]
RewriteRule ^mutasi index.php?xlink=view_data/mutasi_alat.php&page=mutasi [L]

RewriteRule ^tambahalat index.php?xlink=control_data/tambah_alat_cek.php&page=alat [L]
RewriteRule ^tambahkategori index.php?xlink=control_data/tambah_kategori.php&page=kategori [L]
RewriteRule ^tambahmutasi index.php?xlink=control_data/tambah_mutasi.php&page=mutasi [L]
RewriteRule ^tambahlokasi index.php?xlink=control_data/tambah_lokasi.php&page=lokasi [L]
RewriteRule ^lapor index.php?xlink=control_data/lapor_alat.php&page=lapor [L]

RewriteRule ^editalat-(.*)$ index.php?xlink=control_data/edit_alat.php&page=alat&id=$1 [L]
RewriteRule ^hapusalat-(.*)$ control_data/proses_db_alat.php?modul=alat&act=hapus&xxid=$1 [L]
RewriteRule ^detail-(.*)$ index.php?xlink=view_data/detail_alat.php&page=alat&id=$1 [L]
RewriteRule ^alatrs index.php?xlink=view_data/data_alat.php&page=alat&act=2 [L]
RewriteRule ^alatrp index.php?xlink=view_data/data_alat.php&page=alat&act=3 [L]

RewriteRule ^statusalat-(.*)$ index.php?xlink=control_data/tambah_penanganan.php&page=gangguan&id=$1 [L]

RewriteRule ^editkat-(.*)$ index.php?xlink=control_data/edit_kategori.php&page=kategori&mod=edit&id=$1 [L]
RewriteRule ^hapuskat-(.*)$ control_data/proses_db_kategori.php?modul=kategori&act=hapus&xxid=$1 [L]

RewriteRule ^editlok-(.*)$ index.php?xlink=control_data/edit_lokasi.php&page=lokasi&mod=edit&id=$1 [L]
RewriteRule ^hapuslok-(.*)$ control_data/proses_db_lokasi.php?modul=lokasi&act=hapus&xxid=$1 [L]

RewriteRule ^printdata-(.*)$ view_data/detail_alat_print.php?idp=$1 [L]

Options All -Indexes

</IfModule>